@media only screen and (max-width: 768px) {
  /* Bg Video */

  #bg-video {
    transform: scale(4);
  }

  section {
    width: 100vw;
  }

  /* Header */
  header nav {
    background: transparent;
    width: 100vw;
    padding: 0 30px;
  }

  header nav.scrolled {
    padding: 0 30px;
  }

  /* Hero Section */

  .main-heading {
    font-size: 40px;
  }

  .sub-heading {
    font-size: 20px;
    width: 400px;
  }

  /* Based In Section */

  #based-in {
    width: 100vw;
  }

  .container {
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
  }

  .container .right {
    text-align: center;
  }

  /* Section 2 */

  #section2 .container h1 {
    width: 400px;
  }

  #section2 .container h2 {
    width: 400px;
  }

  /* Our Approach */

  .approach {
    margin-bottom: 50px;
  }

  .separator {
    display: none;
  }

  .middle-line {
    display: none;
  }

  .approach-number {
    display: none;
  }

  /* CTA */
  #cta .container {
    flex-direction: column-reverse;
  }

  #cta .container .left {
    text-align: center;
    width: 600px;
    margin-right: 0px;
  }

  footer {
    text-align: center;
  }
}
