@media only screen and (max-width: 767px) {
  /* Utility */

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 18px;
  }
  /* Bg Video */

  #bg-video {
    transform: scale(4);
  }

  section {
    width: 100vw;
  }

  /* Header */
  header nav {
    background: transparent;
    width: 100vw;
    padding: 0 20px;
  }

  header nav.scrolled {
    padding: 0 20px;
  }

  /* Hero Section */

  .main-heading {
    font-size: 35px;
  }

  .sub-heading {
    font-size: 18px;
    width: 350px;
  }

  /* Based In Section */

  #based-in {
    width: 100vw;
  }

  #based-in .container .left img {
    width: 300px;
  }

  .container {
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
  }

  .container .right {
    text-align: center;
  }

  /* Section 2 */

  #section2 .container h1 {
    width: 400px;
  }

  #section2 .container h2 {
    width: 400px;
  }

  /* Our Approach */

  .approach {
    margin-bottom: 50px;
    width: 350px;
    height: 300px;
  }

  .separator {
    display: none;
  }

  .middle-line {
    display: none;
  }

  .approach-number {
    display: none;
  }

  /* CTA */
  #cta .container {
    flex-direction: column-reverse;
  }

  #cta .container .left {
    text-align: center;
    width: 600px;
    margin-right: 0px;
  }

  footer {
    text-align: center;
  }
}

/* Landscape mode */
@media only screen and (device-width: 932px) and (device-height: 430px) and (orientation: landscape) {
  .container {
    padding: 0 120px;
  }

  .separator {
    display: none;
  }

  .line-container {
    position: absolute;
    top: 0;
    left: 80%;
    z-index: -3;
  }

  .middle-line {
    z-index: -3;
  }

  .approach-number {
    z-index: -2;
  }

  .approach {
    justify-content: flex-start;
    margin-bottom: 50px;
  }
}
